/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style */

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/* header style */

header{
    background-color: #2D25A0;
    color: #fff;
    width: 1440px;
    height: 600px;
}
header:hover img{
    transform:scale(1.5)
}
.menu{
    display: flex;
}
.menu li{
    list-style:none;
    margin-right: 60px;
    margin-top: 40px;
}
.menu a, .banner-details a{
    text-decoration: none;
    color: #fff;
}
.login{
    margin-left: 480px;
    background-color:#E02C6D;
    padding: 5px 10px;
}
.banner{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.banner img{
    width: 556px;
    height: 438px;
    transition: transform 5s ease-in-out;  
}
.banner-details{
    padding: 0px 100px 0px 200px;
}
.banner-details h2{
    font-size: 60px;
}
.banner-details a, .container-details a{
    text-decoration: none;
    color: #fff;
    background-color: #E02C6D;
    padding: 5px 10px;
}

/* main style */
/* football players style */

.football-players{
    margin-top: 85px;
    width: 1440px;
}
.all-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 120px;
    
}
.players{
    width: 330px;
    height: 600px;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: #E7E6E6 1px 1px 20px 10px;
}
.player{
    padding: 14px;
}
.player img{
    width: 300px;
    height: 256px;
}
.player-details h2{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 30px;
}
.player-details p{
    margin-top: 10px;
    text-align: justify;
    color: #6C6C6B;
}

/* container style */

.container-area{
    width: 1440px;
    margin-top: 85px;
    margin-bottom: 85px;
}
.container-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 120px;
}
.container-details img{
    width: 500px;
    height: 300px;
    margin-left: 100px;
}
.article h2{
    font-size: 40px;
    font-weight: 700px;
}
.article p{
    text-align: justify;
    color: #6C6C6B;
}

/* team ranking style */

.team-ranking{
    width: 1440px;
    margin-bottom: 50px;
}
.team-ranking a{
    margin-left: 620px;
    padding: 10px;
    background-image: linear-gradient(gold, tomato);
    border-radius: 40px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}
.football-teams{
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

table {
    width: 800px;
    border-collapse: collapse;
  }
  
  caption{
      font-size: 70px;
      font-weight: 700px;
      color:mediumblue;
  }

  td, th {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(2n) {
    background-color: #dddddd;
  }

/* sports ball style */

.sports-balls{
    width: 1440px;
    display: grid;
    justify-content: center;   
}

.sports-balls h2{
    margin-left: 530px;
    font-size: 60px;
    color: green;
}
.balls{
    margin-left: 200px;
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.ball img{
    width: 100px;
    height: 100px;
    transition: transform 3s ease-in-out;
}
.ball:hover img{
    transform:scale(2)
}

/* footer style */

footer{
    margin-top: 100px;
    width: 1440px;
    text-align: center;
}
footer p{
    font-size: 20px;
}
.logo img{
    width: 483px;
    height: 110px;
}
.icon a{
    text-decoration: none;
}
.fab{
    background-color: #D9D7D8;
    border-radius: 50px;
    font-size: 18px;
    padding: 5px 10px;
}
.filled{
    color: #969CAC;
}

/* media queries */

/* mobile devices */
@media only screen and (max-width:688px) {
    body{
        width: 100%;
    }
    header{
        width: 100%;
        height: 900px;
    }
    .menu li{
        list-style:none;
        font-size: 7px;
        margin-right: 5px;
        margin-top: 10px;
    }
    .login{
        margin-left: 40px;
    }
    .banner{
        display: flex;
        flex-direction: column;
        grid-row-gap: 60px;
    }
    .banner img{
        width: 350px;
        height: 300px;
    }
    .banner-details{
        padding: 0px;
        margin-left: 25px;
    }
    .banner-details h2{
        font-size: 40px;
    }
    .football-players{
        width: 100%;
    }
    .all-players{
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content:center;
        grid-column-gap:40px;
    }
    .players{
        height: 715px;
    }
    .container-area{
        width: 100%;
        justify-content: center;
    }
    .container-details{
        margin-left: 10px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .container-details img{
        width: 330px;
        margin-top: 30px;
        margin-left: 0px;
    }
    .team-ranking{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
    }
    .team-ranking a{
        margin-left: 0px;
        background-image: none;
        display: flex;
        flex-direction: column;
        color:blue;
        font-size: 35px;
        justify-content: center;
        align-items: center;
    }
    table{
        width: 0%;
    }
    table caption{
        font-size: 45px;
    }
    .sports-balls{
        width: 100%;
    }
    .sports-balls h2{
        margin-left: 0px;
        font-size: 40px;
        color: green;
        text-align: center;
    }
    .balls{
        width: 100%;
        margin-left: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .ball img{
        width: 100px;
        height: 100px;
        transition: transform 3s ease-in-out;
    }
    .ball:hover img{
        transform:scale(1.5)
    }
    footer{
        width: 100%;
        margin-top:100px;
    }
    .logo img{
        width: 350px;
    }
    .logo, .icon ,p {
        text-align: center;
        font-size: 20px;
    }  
}

/* ipad devices */
@media only screen and (min-width:689px) and (max-width:992px) {
    body{
        width: 100%;
    }
    header{
        width: 100%;
        height: 1000px;
    }
    .menu li{
        list-style:none;
        font-size: 16px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .login{
        margin-left: 65px;
    }
    .banner{
        display: flex;
        flex-direction: column;
        grid-row-gap: 20px
    }
    .football-players{
        width: 100%;
    }
    .all-players{
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content:center;
        grid-column-gap:40px;
    }
    .container-area{
        width: 100%;
        justify-content: center;
    }
    .container-details{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        padding: 40px;
    }
    .container-details img{
        margin-top: 30px;
        margin-left: 0px;
    }
    .article p{
        margin-right: 40px;
    }
    .team-ranking{
        width: 100%;
        margin-left: 0px;
    }
    .team-ranking a{
        margin-left:300px;
    }
    table{
        margin-left: 0px;
        width: 500px;
    }
    .sports-balls{
        width: 100%;
    }
    .sports-balls h2{
        margin-left: 0px;
        font-size: 40px;
        color: green;
        text-align: center;
    }
    .balls{
        width: 100%;
        margin-left: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        justify-content: center;
    }
    .ball img{
        width: 100px;
        height: 100px;
        transition: transform 3s ease-in-out;
    }
    .ball:hover img{
        transform:scale(1.5)
    }
    footer{
        width: 100%;
        margin-top:100px;
    }
    .logo, .icon ,p {
        text-align: center;
    }  
}